extends layout

block content
  h1= title
  p Welcome to #{title}
  
  .form-group
    form(method='post', action='/fire')
        input(type='submit', class='form-control', style='background-color:red', value='Fire!')
